* {
  margin: 0;
  padding: 0;
}

/* why inputs doesn't inherit from body? */
* {
  font-family: "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.56;
}

body.modal-open {
  overflow: hidden;
}

.wrapper {
  margin: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(max-content, 1fr) 5fr;
  grid-gap: 20px;
}

.search-bar {
  grid-column: 1 / span 2;
  text-align: center;
}

.search-bar__title {
  box-sizing: border-box;
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  width: 73%;
}

.search-bar__button {
  padding: 10px 40px;
  width: 75px;
  box-sizing: content-box;
  background: lightblue;
  border-radius: 5px;
  outline: none;
}

.filters {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.filters fieldset * {
  margin: 3px 5px;
}

.filters fieldset legend {
  font-weight: bold;
}

.filters fieldset {
  margin-bottom: 20px;
}

.films {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.film {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.film:hover {
  background: rgb(187, 238, 255);
}

.film__poster img {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 200px;
}

.film__info {
  margin: 2px 10px;
}

.film__info-label {
  color: #f60;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gray;
  opacity: 0.6;
  z-index: 980;
}

.movie-details {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  background: white;
  margin: 20px auto;
  max-width: 600px;
  min-height: 400px;
  padding: 10px 20px;
  z-index: 999;
}

.movie-details__title,
.movie-details__plot {
  grid-column: 1 / span 2;
}

.movie-details__title {
  font-size: 22px;
  font-weight: 600;
}

.movie-details__info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px 10px;
}

.movie-details__info-label {
  color: #f60;
  text-transform: lowercase;
}

.movie-details__poster img {
  max-height: 300px;
  float: left;
}

.movie-details__plot {
  padding: 20px 10px 10px;
}

@media only screen and (max-width: 1050px) {
  .films {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 860px) {
  .films {
    grid-template-columns: repeat(3, 1fr);
  }

  .search-bar__button {
    padding: 10px 20px;
    width: auto;
  } 
}

@media only screen and (max-width: 685px) {
  .films {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 515px) {
  .search-bar__title {
    width: auto;
  }

  .wrapper {
    margin: 20px;
    grid-template-columns: 1fr;
  }

  .search-bar {
    grid-column: auto;
    text-align: center;
  }
}
